/* Barra de Navegación */
.custom-navbar {
  background-color: #fff;
  padding: 3px;
  z-index: 1000;
}

.navbar-logo img {
  width: 150px;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  width: 50%; /* Aumentado para hacer el menú menos estrecho */
  margin-right: auto;
}

.navbar-items .nav-link {
  margin-left: 0; /* Eliminar margen adicional entre los links */
}

.nav-link {
  font-size: 16px;
  color: black !important;
  margin-left: 20px;
  text-transform: uppercase; /* Todo el texto en mayúsculas */
}

/* Sección Hero */
.hero-section {
  background: url('/public/img/Fondo01.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Cambiado de center a flex-start */
  text-align: center;
  color: white;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 175px; /* Agregado para bajar el contenido */
}

.hero-logo {
  width: 350px;
  height: auto;
  margin-bottom: 20px;
}

/* Botón Play Game */
.play-button {
  padding: 12px 40px;
  font-size: 24px;
  background-color: #fff; /* Fondo blanco */
  color: #000; /* Texto negro */
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.play-button:hover {
  background-color: #f1f1f1; /* Efecto de hover para un color gris claro */
  transform: scale(1.05); /* Ligera ampliación al pasar el cursor */
}


.navbar-nav {
  font-weight: bold;
}

/* Efecto de iluminación en el hover */
.illuminated-effect {
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.illuminated-effect:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  transform: scale(1.05); /* Ligera ampliación */
}

/* Aplica el efecto al botón */
.play-button {
  padding: 12px 40px;
  font-size: 24px;
  background-color: #fff;
  color: #000;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.play-button:hover {
  background-color: #f1f1f1;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Efecto de iluminación */
}

/* Estilo adicional para el logo y la imagen en la sección hero */
.hero-logo {
  width: 350px;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-logo:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

/* Ajustes Responsivos */
@media (max-width: 768px) {
  .hero-logo {
    width: 250px;
  }

  .navbar-items {
    width: 100%;
    justify-content: space-around;
  }

  .play-button {
    padding: 8px 30px;
    font-size: 20px;
  }

  .navbar-logo img {
    width: 100px;
  }

  .hero-content {
    margin-top: 190px; /* Ajustado para pantallas más pequeñas */
  }
}
